[Unit]
Description=TMIP ingest SDH a cada 10 minutos

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
AccuracySec=1min
Unit=tmip-ingest.service

[Install]
WantedBy=timers.target
