[Unit]
Description=Timer BSOD ingest (6h)

[Timer]
OnBootSec=20min
OnUnitActiveSec=6h
Persistent=true
Unit=bsod-ingest.service

[Install]
WantedBy=timers.target
