[Unit]
Description=Timer BSOD Xpertrak (10min)

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
AccuracySec=1min
Persistent=true
Unit=bsod-ingest-xpertrak.service

[Install]
WantedBy=timers.target
