[Unit]
Description=Timer BSOD ingest (30min)

[Timer]
OnBootSec=5min
OnUnitActiveSec=30min
Persistent=true
Unit=bsod-ingest.service

[Install]
WantedBy=timers.target
