[Unit]
Description=Timer BSOD LDAP (3h)

[Timer]
OnBootSec=12min
OnUnitActiveSec=3h
AccuracySec=1min
Persistent=true
Unit=bsod-ingest-ldap.service

[Install]
WantedBy=timers.target
