[Unit]
Description=Timer BSOD ingest lab (30min)

[Timer]
OnBootSec=5min
OnUnitActiveSec=30min
Persistent=true
Unit=bsod-ingest-lab.service

[Install]
WantedBy=timers.target
