[Unit]
Description=Timer BSOD CRM sync lab (6h)

[Timer]
OnBootSec=15min
OnUnitActiveSec=6h
AccuracySec=1min
Persistent=true
Unit=bsod-ingest-crm-lab.service

[Install]
WantedBy=timers.target
